section.activities.section
  .container

    header.section__header
      p.subtitle hundreds of
      h2.title.title--md Activities for Everyoune

    .activities__list
      a.card.card--thin.activities__card(href="#")
        .card__image
          +picture("content/activities", "cover-1", "jpg", 351, 620, "Mountain lake")
        .card__caption
          .title.title--sm.title--left Hiking
          p.card__note 230 activites
      a.card.activities__card(href="#")
        .card__image
          +picture("content/activities", "cover-2", "jpg", 705, 620, "Mountain lake")
        .card__caption
          .title.title--sm.title--left Sailing
          p.card__note 121 activites
      a.card.activities__card(href="#")
        .card__image
          +picture("content/activities", "cover-3", "jpg", 921, 620, "Mountain lake")
        .card__caption
          .title.title--sm.title--left Skiing
          p.card__note 212 activites
      a.card.activities__card(href="#")
        .card__image
          +picture("content/activities", "cover-4", "jpg", 861, 620, "Mountain lake")
        .card__caption
          .title.title--sm.title--left Kayaking
          p.card__note 512 activites
