mixin main-slider()
  .main-slider.swiper(data-main-slider)&attributes(attributes)
    .swiper-wrapper
      .swiper-slide
        +picture("slides", "main-slide-1", "jpg", 1920, 1202, "Norway")
      .swiper-slide
        +picture("slides", "main-slide-1", "jpg", 1920, 1202, "Norway")
      .swiper-slide
        +picture("slides", "main-slide-1", "jpg", 1920, 1202, "Norway")
    .swiper-pagination
