.title {
  margin: 0;

  text-align: center;

  &--xl {
    font-size: size(250px);
    line-height: 1.2;

    @include vp-1439 {
      font-size: size(180px);
    }

    @include vp-1279 {
      font-size: size(140px);
    }
  }
}
