mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Destinations"
      },
      {
        href: "#",
        text: "Activities"
      },
      {
        href: "#",
        text: "About Us"
      },
      {
        href: "#",
        text: "Contact"
      },
    ]

  -
    const locationList = [
      { title: "Trondheim" },
      { title: "Geirangerfjord" },
      { title: "Lofoten" }
    ]

  header.header(class=headerMods)
    +main-slider().header__slider
    .header__wrapper
      +main-nav(currentUrl, headerLinks)

      .header__title
        p.subtitle.subtitle--big explore
        h1.title.title--xl Norway

      ul.list-reset.flex.locations-list.header__locations
        each item in locationList
          li.locations-list__item
            +location(item)
